* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    flex-direction: column;
    padding: 4em;
}

header {
    border-bottom: 2px solid black;
}

header h1 {
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

main {
    flex-grow: 1;
    margin-top: 2em;
}

main h2 {
    padding-bottom: 0.5em;
}

footer {
    background-color: #666;
    padding-top: 1.5em;
}