html {
    font: 16px/1.5 Helvetica, sans-serif;    
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:after, *:before {
    box-sizing: inherit;
}



h1 {
    font-family: Georgia, serif;
    font-size: 1.8em;
    line-height: 1.3em;
}

h2, h3 {
    font-family: Georgia, serif;
    font: 1em/1.5;
}

h4, h5, h6 {
    line-height: 1.1;
    padding-bottom: 0.5em;
}

h4 { font-size: 1.45em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p, ul, ol, blockquote {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2.5em;
}

ul ul, ol ol, ul ol, ol ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

li ul li ul li {
    list-style-type: square;
}

blockquote {
    padding-left: 2em;
    font-style: italic;
    opacity: 0.8;
    font-family: serif;
}

blockquote p:last-child {
    padding-bottom: 0;
    text-align: right;
}

li {
    list-style: disc outside;
}