@import url('../../fontawesome-free-5.12.0-web/css/all.css');

.button {
    border: 2px solid #000;
    background: transparent;
    text-decoration: none;
    color: inherit;
    border-radius: 2em;
    padding: 1em 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 0.5em;
}

.button.hover,
.button:hover {
    border-color: #080;
    color: #080;
}

.button.fill {
    background-color: #000;
    color: #FFF;
}

.button.fill.hover,
.button.fill:hover {
    background-color: #080;
    color: #FFF;
}

.button.icon i {
    padding-right: 0.5em;
}