body {
    max-width: 60em;
    margin: 0 auto;
}

.site-branding {
    display: inline-block;
    width: 59%;
}

.site-header nav {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.site-main {
    display: inline-block;
    width: 69%;
}

.site-sidebar {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: left;
}

.entry {
    padding: 0 1.5em;
}

.site-footer {
    text-align: right;
}

