html {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

body {
    max-width: 60em;
    margin: 0 auto;
}

.entry {
    max-width: 40em;
    margin: 0 auto;
    margin-left: 0;
    display: inline-block;
    width: 69%;
}

.article-image {
    width: 500px;
}

.site-aside {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: left;
}

