* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    background-color: rgb(238, 238, 238);
}

h1 {
    font: 1em/1.2 Georgia, serif;
}

.card {
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
    position: absolute;
    width: 500px;
    height: 560px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 0 1.5rem 0.1em rgba(0, 0, 0, 0.5);
}

.card .image img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card .card-header h1 {    
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.75em;
    margin-left: 1em;
}

.card-main {
    margin: 1.5em;
    font-size: 1.2em;
}

.card-footer {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.card-footer a {
    background-color: rgb(0, 153, 0);
    font-size: 1.25em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    text-decoration: none;
    color: #EEE;
}