* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

body {
    width: 60rem;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header ul {
    display: flex;
    list-style-type: none;    
}

header ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    margin-left: 1em;
}

header h2 {
    font: 2.25em/1.5 Georgia, serif;
    font-weight: bold;
    text-transform: uppercase;
}