* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

body {
    display: flex;
    margin: 5em;
    flex-wrap: wrap;
}

header,
main,
aside,
footer {
    text-transform: uppercase;
    box-shadow: 0 0 1em 0.5em rgba(0 , 0, 0, 0.3);
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
}

header {
    height: 11em;
    flex: 0 0 100%; 
}

main {
    height: 32em;
    flex: 0 0 calc( 70% - 2em );
    margin-right: 2em;
    /* flex-grow flex-shrink flex-basis */
}

aside {
    flex: 0 0 30%;
}

footer {
    height: 7em;
    flex: 0 0 100%;
}









